<div class='home-chefs'>
<p>These chefs are available near you:</p><br>

<div class='chef-list'>
<% @users.each do |chef| %>
<p><%= link_to "#{chef.name}", "users/#{chef.id}"%>  <%= "| #{chef.location_lat} | #{chef.location_lon} |" %></p>
<% end %></div>
</div>