<div class="hero">
    <div class="col-50 welcome-text">
        <h1>Go Chef!</h1>
        <span>Connecting you with cooks</span>
    </div>
    <div class="col-50">
    </div>
</div>

<div class='home-chefs'>

    <div tyle="background-color: pink;height: 300px" class='chef-list col-50'>
        <% @users.each do |chef| %>
        <p><%= link_to "#{chef.name}", "users/#{chef.id}"%></p>
        <% end %>


    </div>

    <div style="background-color: pink; height: 300px;" class="col-50">
        sad;lkasdk;
    </div> 

</div>