<p>Welcome, <%= current_user.name %>! </p><br>
<%= link_to "Edit Profile" , "users/#{current_user.id}/edit" %><br>


<% @users.each do |chef| %>
<%= link_to "#{chef.name}", "users/#{chef.id}"%>  <%= "| #{chef.location_lat} | #{chef.location_lon} |" %> 
<br> 
<%end%> 
