$main-font: 'Lobster', cursive;
$primary-colour: #2b90d9;


h1 {
 color: $primary-colour;
 text-align: center;
 margin-bottom: 30px;
}

.welcome-text h1 {
  font-size: 130px;
}

.hero-buttons a {
  font-family: 'Lobster';
}

h2 {
 font-size: 30px;
 color: $primary-colour;
}

h1, h2, h3{
  font-family: $main-font;
}

a, p {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;

}

header {
  background-color: #282c37;
  padding: 15px 10px;
}
*{
  font-family: 'Roboto', sans-serif;
}

#carousel {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position:  relative;
  transition: all 0.5s ease-in-out;
 }

#carousel div{
  position:absolute;
  top:0;
  opacity:0;
  transition: opacity 1s;
  height: 100vh;
}

#carousel div.show{
  opacity:1;
}

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position:  relative;
}

.hero-buttons {
  background-color: rgba(255, 255, 255, 0.7);
  position:  absolute;
  top: 0px;
  right: 0px;
  height: 46px;
  width: 80px;
  display: flex;
  justify-content:  center;
  align-items:  center;
  font-weight:  bold;
  font-family: 'Lobster';
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);

  a {
    color: $primary-colour;
    font-size: 22px;
    text-decoration: none;
  }
}

.col-50.welcome-text{
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0px
}

div.col-50 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 7px; */
}

div.col-50 h1 {
  margin-bottom: 14px;
}

div.col-50 span {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 100;
  padding-right: 50px;
  font-style:  italic;
  font-weight: 300;
}

.ellipse {
  position: absolute;
  background: radial-gradient(ellipse, transparent, transparent 7px, black 7px, black 10px, transparent 11px);
  background-size: 36px 40px;
  width: 50%;
  height: 20px;
  top: 250px;
  left: -5px;
  display: none;
 }

.ellipse2 {
  top: 270px;
  left: 18px;
  background-position: 0px -20px;
  left: 13px;
}

.ellipse3 {
  position: absolute;
  background: radial-gradient(ellipse, transparent, transparent 7px, black 7px, black 10px, transparent 11px);
  background-size: 36px 40px;
  width: 50%;
  height: 20px;
  top: 480px;
  left: -5px;
}

.ellipse4 {
  top: 500px;
  left: 18px;
  background-position: 0px -20px;
  left: 13px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-chefs .user-profile .avatar{
  margin: 20px;
  margin-left: 15px;
}

.home-chefs .user-profile .text p{
  text-align: left;
}

.home-chefs .user-profile .text{
  width: 350px;
  margin-left: 20px;
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f3f3f3;
  margin: 0px!important;
  text-align: left;
  font-weight: 300;
}

.home-chefs .user-profile .text p{
  color: black;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 15px;
}

.home-chefs .chef-list.col-50 a.user-profile{
  text-decoration: none;
}

.home-chefs .chef-list.col-50 a.user-profile .text h5{
  font-family: 'Lobster';
  color: #282c37;
  font-size: 20px;
  margin-bottom: 10px;
}

#blah {
  position: absolute;
  bottom: 20px;
  color: #2b90d9;
}

.col-one {
  min-width: 1000px;
  justify-content:  center;
  align-items:  center;
}

.home-chefs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-chefs .user-profile-container{
  max-width: 500px;
}

.home-chefs .user-profile{
 height: 130px;
 background-color: #f3f3f3;
 width: 100%;
 margin-top: 15px;
 max-width: 500px;
 display:  flex;
 justify-content:  center;
 align-items: center;
 box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}

input[type=submit] {
  font-size: 25px;
  display: block;
  color: white;
  background: #282c37;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0.2em 0;
  line-height: 1.25;
  transition: all 0.15s ease-in-out;
  width: 150px;
  font-family: 'Lobster';
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover{
    box-shadow: 0px 5px 14px rgba(0,0,0,0.4);
  }

}

#filter{
  background-color: $primary-colour;
  min-height: 200px;
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-group {
    width: 300px;
  }

  .form-group input{
    width: 100%;
    font-family: 'Roboto';
    color: black!important;
    font-size: 13px;
    font-style: normal;
    padding: 8px 10px;
    text-align: center;
  }

  .chosen-container {
    input {
        width: 300px!important;
        text-align: center;
        font-family: 'Roboto';
        color: rgb(139, 129, 129)!important;
        font-style: italic;
        font-size: 13px;
        padding: 8px 10px!important;
    }
    li.search-field {
      padding: 4px 0px;
      color: black!important;
    font-size: 13px;
    }
    input::-webkit-input-placeholder{
      color: rgb(139, 129, 129)!important;
      font-style: italic;
      padding: 8px 10px!important;
    }
  }

  .form-group input::-webkit-input-placeholder{
    text-align: center;
    font-size: 13px;
    font-style: italic!important;
    padding: 5px 10px;
    color: rgb(139, 129, 129)!important;
  }

  h3 {
    font-size: 36px;
    color: #282c37;
    margin-bottom: 30px;
    margin-top: 30px;
  }



}

.container.show-profile .avatar, .welcome-container .avatar,.home-chefs .user-profile .avatar{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-color: blue;
}

.welcome-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.welcome-container a.chef-link{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map{
  height: 300px;
  align-self: flex-start;
  position:  sticky;
  top: 0px;
}

#mapid {
  height: 300px;
  width: 500px;
  /* margin-top: 50px; */
  position: relative;
  outline: none;
  margin-top: 15px;
}

.chefdeets {
  height: auto;
  background-color: #f3f3f3;
  width: auto;
  line-height:normal;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  display:  flex;
  justify-content:  center;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
}

.chefdeetsheader {
  margin-left: 50px;
  margin-top: 250px;
}

// .chefdeets, .avatar { // is the box with the profile info in
//   height: 200px;
//   width: 700px;
//   // border-radius: 50%;
// }

.notice {
  margin-top: 0px;
  position: absolute;
}

.alert {
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
}

.login-box a {
font-size: 20px;
color: black;

}

.multiselect{
  display: block;
  width: 200px;
}


#imageuploader {
  min-height: 300px;
  width: 100%;
  border: #333 3px dashed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #2b90d9;
  flex-wrap: wrap;
}
.dz-preview.dz-processing.dz-image-preview.dz-success.dz-complete{
  flex-wrap: wrap;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dz-default.dz-message{
width: 100%;
display: block;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}

.photos{
display: flex;
flex-wrap: wrap;
min-height: 1000px;
}

.photos .thumb {
width: 150px;
height: 150px;
background-size: cover;
position: relative;
margin-right: 5px;
border: 1px solid black;
}

.photos .thumb a{
position: absolute;
top: 0px;
right: 0px;
background-color: rgba(255,255,255,0.8);
display: flex;
justify-content: center;
padding: 10px;
font-weight: bold;
font-family: Helvetica;
color: black;
}

h1 {
font-size: 30px;
}